<article {% if listMode %} class="item" {% endif %}>
    <div class="img-container">
        <img src="/img/cake.jpg" alt="{{ recipe.name }}">
    </div>
    <div class="item-container">
        <div class="first-line">
            <h2 class="title">{{ recipe.name }}</h2>
            {% if listMode or iLikedThisRecipe is not defined %}
                <p>{{ recipe.likedUsers|length }} ❤️</p>
            {% else %}
                {% if iLikedThisRecipe %}
                    <p class="liked-users">
                        <a href="{{ path('app_like', {id: recipe.id, like: 0}) }}">
                            {{ recipe.likedUsers|length }} ❤️
                        </a>
                    </p>
                {% else %}
                    <p class="liked-users">
                        <a href="{{ path('app_like', {id: recipe.id, like: 1}) }}">
                            {{ recipe.likedUsers|length }} ❤️
                        </a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
        <p>Par {{ recipe.owner.pseudo }}, le {{ recipe.createdAt|date('Y/m/d') }}</p>

        {% if listMode %}
            <a href="{{ path('app_recipe', {id: recipe.id })}}">
                <button>Voir</button>
            </a>
        {% endif %}
            
        {% if listMode and editable %}
            <a href="{{ path('app_myrecipes_form', {id: recipe.id })}}">
                <button>Editer</button>
            </a>
            <form method="post" action="{{ path('app_myrecipes_delete', {id: recipe.id })}}">
                <button type="submit" onclick="confirm('Etes-vous sûr de supprimer cette recette ?')">
                    Supprimer
                </button>
            </form>
        {% endif %}

        {% if not listMode %}
            {% for type in recipe.types %}
                <p class="param">{{ type }}</p>
            {% endfor %}
            <p class="param">{{ recipe.preparationTime }} min</p>
            {% if recipe.isVegetarian %}
                <p class="param">Végétarienne</p>
            {% endif %}
            {% if recipe.isVegan %}
                <p class="param">Végan</p>
            {% endif %}
            {% for season in recipe.seasons %}
                <p class="param">{{ season }}</p>
            {% endfor %}

            <div class="end-recipe">
                <section class="ingredients">
                    <h3>Ingrédients</h3>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li class="flex-container space-between">
                                <span>{{ ingredient.name }}</span>
                                <span>{{ ingredient.number }} {{ ingredient.measureUnit }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </section>

                <section class="preparation">
                    <h3>Préparation</h3>
                    <ul>
                        {# order steps by step.number #}
                        {% for step in recipe.steps %}
                            <li>
                                <p class="param orange">{{ step.number }}</p>
                                <span>{{ step.description }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        {% endif %}
    </div>
</article>
